{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>Gabe's blog</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <header class="header-container">
            <h1 class="title"><a href="/">Gabe's Blog</a></h1>
            <div class="header-actions">
                {% if user.is_authenticated %}
                    <div class="header-actions">
                        <a href="{% url 'post_new' %}"><span class="glyphicon action-icon glyphicon-plus"></span></a>
                        <a href="{% url 'post_draft_list' %}"><span class="glyphicon action-icon glyphicon-pencil"></a>
                    </div>
                {% endif %}
                <div class="fill-width"></div>
                {% if user.is_authenticated %}
                    <p>Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </header>

        <div class="page-content">
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>