h1 a, h2 a {
    color: #ff9345;
    text-decoration: none;
}

body {
    background-color: #080820;
}

html * {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

input, textarea {
    background-color: #1f1f36;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
}

.header-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(22, 112, 201);
}

.post-btn {
    size: 100px;
    margin-right: 10px;
}

.title {
    text-align: center;
}

.subtext {
    font-size: 9pt;
    color: #fff8;
}

.posts-container {
    padding-left: 10px;
}

.post {
    margin-top: 10px;
    padding: 8px;
    background-color: #8888;
    border-radius: 10px;
    width: 400px;
}

.page-content {
    margin-left: 10px;
}